@import url('https://fonts.googleapis.com/css?family=Raleway|Varela+Round&display=swap');

.container-fluid {
  
  background-color: #e1b382;
  font-family: 'Varela Round', sans-serif;
  padding: 10px;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: bold;
  height: 100%;
  
}

h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color: #2d545e;
  margin-bottom: auto;
  padding: 20px;
  font-weight: bold;
  color: white;
  height: 100%;
}

.table-header {
  border-right: solid;
  border-bottom: solid;
  border-width: 2px;
  
}

.App {

  background-color: #e1b382;
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
}



